.presentationBox {
    display: flex;
    text-align: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 0px;
    margin: 16px auto;
    width: 25%;
}

.presentationInfo {
    margin: 0px;
    font-family: "Lucida Sans Unicode", "Courier New", sans-serif;
}

.presentationCardInfoBreak {
    margin-bottom: 16px;
}

.presentationCardInfo {
    margin: 6px;
    padding: 6px;
}